Repository IMAP-Science-Operations-Center/sds-data-manager, pull requests merged in 2023-08, with the labels that each got.

#114 adding .rst to docs/cdk
  README.md
  docs/source/cdk/aws-setup.rst
  docs/source/cdk/cdk-deployment.rst
  docs/source/cdk/index.rst
  docs/source/index.rst
Labels: documentation

#120 Implementation of Track Data Availability
  .DS_Store
  sds_data_manager/lambda_code/SDSCode/dynamodb_utils/processing_status.py
  sds_data_manager/lambda_code/SDSCode/indexer.py
  sds_data_manager/stacks/dynamodb_stack.py
  sds_data_manager/stacks/sds_data_manager_stack.py
  sds_data_manager/utils/stackbuilder.py
  tests/infrastructure/test_data_manager_stack.py
  tests/infrastructure/test_dynamo_db_stack.py
Labels: Parent Req: SDC Processing Monitoring

#110 Changing the Upload API to use a GET rather than a POST
  sds_data_manager/stacks/sds_data_manager_stack.py
Labels: Parent Req: Data Access API

#151 SIT-2 Release [dev]
  pyproject.toml
Labels: Release
