Repository IMAP-Science-Operations-Center/sds-data-manager, pull requests merged in 2024-11, with the labels that each got.

#388 I-ALiRT: OpsSW test updates
  sds_data_manager/constructs/ialirt_processing_construct.py
  sds_data_manager/utils/stackbuilder.py
  tests/infrastructure/test_ialirt_processing_construct.py
  tests/test-data/ialirt_ec2/Dockerfile
  tests/test-data/ialirt_ec2/test_app.py
Labels: I-ALiRT

#374 I-ALiRT: Add a way to delete stack despite using autoscaling
  sds_data_manager/constructs/ialirt_processing_construct.py
Labels: I-ALiRT

#397 Update imap-data-access version
  lambda_layer/python/requirements.txt
  poetry.lock
  pyproject.toml
Labels: enhancement

#395 BUG - Undid Code that breaks tests due to psycopg import error
  tests/lambda_endpoints/conftest.py
Labels: bug

#393 Create subfolder and updated path accordinly
  sds_data_manager/constructs/database_construct.py
  sds_data_manager/constructs/indexer_lambda_construct.py
  sds_data_manager/constructs/instrument_lambdas.py
  sds_data_manager/constructs/sds_api_manager_construct.py
  sds_data_manager/lambda_code/SDSCode/api_lambdas/__init__.py
  sds_data_manager/lambda_code/SDSCode/api_lambdas/download_api.py
  sds_data_manager/lambda_code/SDSCode/api_lambdas/query_api.py
  sds_data_manager/lambda_code/SDSCode/api_lambdas/spin_table_api.py
  sds_data_manager/lambda_code/SDSCode/api_lambdas/upload_api.py
  sds_data_manager/lambda_code/SDSCode/pipeline_lambdas/__init__.py
  sds_data_manager/lambda_code/SDSCode/pipeline_lambdas/batch_starter.py
  sds_data_manager/lambda_code/SDSCode/pipeline_lambdas/create_schema.py
  sds_data_manager/lambda_code/SDSCode/pipeline_lambdas/dependency_config.csv
  sds_data_manager/lambda_code/SDSCode/pipeline_lambdas/dependency_config.py
  sds_data_manager/lambda_code/SDSCode/pipeline_lambdas/indexer.py
  sds_data_manager/lambda_code/SDSCode/pipeline_lambdas/lambda_custom_events.py
  tests/infrastructure/test_database_construct.py
  tests/lambda_endpoints/test_batch_starter.py
  tests/lambda_endpoints/test_download_api.py
  tests/lambda_endpoints/test_indexer_lambda.py
  tests/lambda_endpoints/test_query_api.py
  tests/lambda_endpoints/test_upload_api.py
Labels: Infrastructure

#400 Remove and update SPICE files ingestion and how it's written to EFS
  sds_data_manager/constructs/efs_construct.py
  sds_data_manager/lambda_code/efs_lambda/lambda_function.py
Labels: Infrastructure
