Repository IMAP-Science-Operations-Center/sds-data-manager, pull requests merged in 2024-10, with the labels that each got.

#352 MNT: Change the dependency database table into a local lookup
  sds_data_manager/lambda_code/SDSCode/batch_starter.py
  sds_data_manager/lambda_code/SDSCode/create_schema.py
  sds_data_manager/lambda_code/SDSCode/database/models.py
  sds_data_manager/lambda_code/SDSCode/dependency_config.py
  tests/lambda_endpoints/test_batch_starter.py
Labels: database

#344 MNT/ENH: Separate database tables for different file types
  lambda_layer/python/requirements.txt
  poetry.lock
  pyproject.toml
  sds_data_manager/lambda_code/SDSCode/batch_starter.py
  sds_data_manager/lambda_code/SDSCode/database/models.py
  sds_data_manager/lambda_code/SDSCode/database/synchronizer.py
  sds_data_manager/lambda_code/SDSCode/database_handler.py
  sds_data_manager/lambda_code/SDSCode/indexer.py
  sds_data_manager/lambda_code/SDSCode/query_api.py
  tests/lambda_endpoints/conftest.py
  tests/lambda_endpoints/test_batch_starter.py
  tests/lambda_endpoints/test_download_api.py
  tests/lambda_endpoints/test_indexer_lambda.py
  tests/lambda_endpoints/test_query_api.py
  tests/lambda_endpoints/test_synchronizer.py
  tests/lambda_endpoints/test_upload_api.py
Labels: database

#365 BUG - Adding fixes for psycopg
  lambda_layer/python/requirements.txt
  poetry.lock
  pyproject.toml
  sds_data_manager/constructs/efs_construct.py
Labels: bug

#353 Add Final DynamoDB Table
  sds_data_manager/constructs/ialirt_ingest_lambda_construct.py
  sds_data_manager/lambda_code/IAlirtCode/ialirt_ingest.py
  tests/conftest.py
  tests/infrastructure/test_ialirt_ingest_lambda_construct.py
  tests/lambda_endpoints/test_ialirt_ingest.py
Labels: I-ALiRT

#370 I-ALiRT: Switch out ECR for Nexus
  sds_data_manager/constructs/ialirt_processing_construct.py
  sds_data_manager/utils/stackbuilder.py
  tests/test-data/ialirt_ec2/Dockerfile
Labels: I-ALiRT

#371 I-ALiRT: update to readthedocs
  docs/source/cdk/cdk-deployment.rst
  docs/source/cdk/ialirt-setup.rst
  docs/source/cdk/index.rst
  tests/test-data/ialirt_ec2/Dockerfile
Labels: I-ALiRT

#378 V4.0.0 Release
  pyproject.toml
Labels: Release
